{% extends 'base.html' %}
{% block container %}

    <h1 class="display-5 mt-4">Летим {{ data.departures[departure] }}</h1>
    <p class="mb-4">Найдено {{ arr|length }} туров, от {{ ((arr|sort(attribute='price'))|first).price }} до {{ ((arr|sort(attribute='price'))|last).price }} и от {{ ((arr|sort(attribute='nights'))|first).nights }} ночей до {{ ((arr|sort(attribute='nights'))|last).nights }}  ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for number,tour in data.tours.items() %}
      {% if tour.departure==departure %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" width="300px" height="250px" class="card-img-top img" alt="{{ tour.title }}">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncate(90) }}</p>
            <a href="/tours/{{ number }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

{% endblock %}